/* ------------------------------------------------------------------ SOCIAL */
/*
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}
*/
html,
body {
  color: #261031;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.bg--purple {
  background-color: #52226b;
}

.bg--purple-light {
  background-color: #efe3f6;
}

.bg--pink {
  background-color: #f6e7ff;
}

.bg--white {
  background-color: #ffffff;
}

.align-center {
  align-items: center;
}

.main-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.main-menu .toggle-menu {
  margin-bottom: 0;
}
.main-menu .toggle-menu:hover {
  border-color: #88ca6a !important;
}
.main-menu .toggle-menu .icon {
  fill: #52226b;
}
.main-menu .logo {
  max-width: 250px;
  width: 150px;
}
@media (min-width: 768px) {
  .main-menu .logo {
    margin-right: 70px;
    width: unset;
  }
}
.main-menu .button {
  border-color: transparent;
  border-width: 2px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-menu .button {
    width: auto;
  }
}
.main-menu .button:hover {
  border-color: #ffffff;
}
.main-menu .button-wrapper {
  align-items: flex-end;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .main-menu .button-wrapper {
    width: unset;
  }
}
.main-menu .toggle-menu__content {
  flex-direction: column;
}
.main-menu .toggle-menu__open {
  align-items: end;
  display: flex;
  margin-top: 10px;
}
.main-menu .toggle-menu__open .menu-content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.main-menu .toggle-menu__open .button {
  padding-right: 0;
}
.main-menu .menu-social {
  justify-content: flex-end;
  margin-right: -10px;
}
@media (min-width: 1024px) {
  .main-menu .menu-social {
    margin-right: unset;
    padding-right: 10px;
  }
}
.main-menu .menu-social .button--social {
  display: inline-flex;
  padding: 5px;
  width: auto;
}
.main-menu .menu-social .button--social:hover {
  border-color: transparent !important;
}
.main-menu .icon--green {
  fill: #88ca6a;
}

.content-systemic h1,
.content-about h1 {
  font-weight: 800;
  padding: 20px 0;
}
@media (min-width: 1366px) {
  .content-systemic h1,
  .content-about h1 {
    padding: 70px 0;
  }
}

.content-phrase h1,
.content-systemic h1,
.content-about h1 {
  font-size: 1.6rem;
}
@media (min-width: 1366px) {
  .content-phrase h1,
  .content-systemic h1,
  .content-about h1 {
    font-size: 2.6rem;
  }
}

.content-about {
  padding: 20px 0;
}
@media (min-width: 1366px) {
  .content-about {
    padding: 0;
  }
}
.content-about h1 {
  font-weight: 200;
}

.content-systemic {
  padding: 20px 0;
}
@media (min-width: 1366px) {
  .content-systemic {
    padding: 70px 0;
  }
}
.content-systemic .left {
  margin-left: 0;
  text-align: left;
}
.content-systemic .title {
  margin-left: 0;
}
.content-systemic .columns .column {
  flex: 100%;
}
@media (min-width: 1366px) {
  .content-systemic .columns .column {
    flex: 1;
  }
}

.content-therapies {
  padding: 0;
}
.content-therapies .title {
  font-size: 1.6rem;
  margin-bottom: 0;
  margin-left: 0;
  text-align: left;
}
.content-therapies .column {
  padding-top: 0 !important;
}

.content-phrase {
  padding: 40px;
}
.content-phrase .title {
  font-weight: 200;
}

.content-me {
  padding: 20px 0;
}
@media (min-width: 1366px) {
  .content-me {
    padding: 70px 0;
  }
}
.content-me .left {
  margin-left: 0;
  text-align: left;
}
.content-me .columns .column {
  flex: 100%;
  padding: 20px;
  padding-bottom: 0 !important;
}
@media (min-width: 1366px) {
  .content-me .columns .column {
    flex: 1;
  }
}

.title,
.subtitle {
  color: #52226b;
  font-weight: 200;
}

.title {
  font-weight: 800;
}

.subtitle {
  font-size: 1.6rem;
  margin: 1rem 0;
  text-align: left;
}

.content--small {
  margin: auto;
  max-width: 70%;
}

.columns img {
  width: 100%;
}
.columns .column {
  flex: 100%;
  padding: 20px;
}
@media (min-width: 768px) {
  .columns .column {
    flex: 50%;
  }
}
@media (min-width: 1366px) {
  .columns .column {
    flex: 1;
  }
}

.copyright {
  background-color: #52226b;
  padding: 20px;
}
.copyright * {
  color: #ffffff;
}