$margin: 70px;

html,
body {
    color: $color-purple-dark-3;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.bg--purple {
    background-color: $color-purple;
}

.bg--purple-light {
    background-color: $color-purple-light-13;
}

.bg--pink {
    background-color: $color-pink;
}

.bg--white {
    background-color: $color-white;
}

.align-center {
    align-items: center;
}

.menu-social {
    padding-right: $regular;
}

.button--social {
    padding: $small;

    &:hover {
        border-color: transparent !important;
    }
}

.main-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $extra-big 0;

    .logo {
        margin-right: $margin;
    }

    .button {
        border-color: transparent;
        border-width: 2px;
        color: $color-white;

        &:hover {
            border-color: $color-white;
        }
    }

    .button-wrapper {
        gap: $small;
    }
}

.content-systemic,
.content-about {
    h1 {
        font-size: 2.6rem;
        font-weight: 800;
        padding: $margin 0;
    }
}

.content-about {
    h1 {
        font-weight: 200;
    }
}

.content-systemic {
    padding: $margin 0;

    .left {
        margin-left: 0;
        text-align: left;
    }

    .title {
        margin-left: 0;
    }
}

.content-therapies {
    padding-bottom: $margin;

    .title {
        font-size: 1.6rem;
        margin-bottom: 0;
        margin-left: 0;
        text-align: left;
    }

    .column {
        padding-top: 0 !important;
    }
}

.content-phrase {
    padding: $extra-big;

    .title {
        font-weight: 200;
    }
}

.content-me {
    max-height: 600px;
    overflow: hidden;
    padding: $margin 0 0 0;

    .left {
        margin-left: 0;
        text-align: left;
    }

    .column {
        padding-bottom: 0 !important;
    }
}

.title,
.subtitle {
    color: $color-purple;
    font-weight: 200;
}

.title {
    font-weight: 800;
    text-align: center;
}

.subtitle {
    font-size: 1.6rem;
    margin: 1rem 0;
    text-align: left;
}

.content--small {
    margin: auto;
    max-width: 70%;
}

.columns {
    .column {
        flex: 1;
        padding: 20px;
    }
}

.copyright {
    background-color: $color-purple;
    padding: $big;

    * {
        color: $color-white;
    }
}