$margin-small: 20px;
$margin: 70px;

html,
body {
    color: $color-purple-dark-3;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.bg--purple {
    background-color: $color-purple;
}

.bg--purple-light {
    background-color: $color-purple-light-13;
}

.bg--pink {
    background-color: $color-pink;
}

.bg--white {
    background-color: $color-white;
}

.align-center {
    align-items: center;
}

.main-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $big;

    .toggle-menu {
        margin-bottom: 0;

        &:hover {
            border-color: $color-green !important;
        }

        .icon {
            fill: $color-purple;
        }
    }

    .logo {
        max-width: 250px;
        width: 150px;

        @include tablet {
            margin-right: $margin;
            width: unset;
        }
    }

    .button {
        border-color: transparent;
        border-width: 2px;
        color: $color-white;

        @include tablet {
            width: auto;
        }

        &:hover {
            border-color: $color-white;
        }
    }

    .button-wrapper {
        align-items: flex-end;
        display: inline-flex;
        flex-direction: column;
        width: 100%;

        @include tablet-landscape {
            width: unset;
        }
    }

    .toggle-menu__content {
        flex-direction: column;
    }

    .toggle-menu__open {
        align-items: end;
        display: flex;
        margin-top: $regular;

        .menu-content {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            text-align: right;
        }

        .button {
            padding-right: 0;
        }
    }

    .menu-social {
        justify-content: flex-end;
        margin-right: - $regular;

        @include tablet-landscape {
            margin-right: unset;
            padding-right: $regular;
        }

        .button--social {
            display: inline-flex;
            padding: $small;
            width: auto;

            &:hover {
                border-color: transparent !important;
            }
        }
    }

    .icon--green {
        fill: $color-green;
    }
}

.content-systemic,
.content-about {
    h1 {
        font-weight: 800;
        padding: $margin-small 0;

        @include notebook {
            padding: $margin 0;
        }
    }
}

.content-phrase,
.content-systemic,
.content-about {
    h1 {
        font-size: 1.6rem;

        @include notebook {
            font-size: 2.6rem;
        }
    }
}

.content-about {
    padding: $margin-small 0;

    @include notebook {
        padding: 0;
    }

    h1 {
        font-weight: 200;
    }
}

.content-systemic {
    padding: $margin-small 0;

    @include notebook {
        padding: $margin 0;
    }

    .left {
        margin-left: 0;
        text-align: left;
    }

    .title {
        margin-left: 0;
    }

    .columns {
        .column {
            flex: 100%;

            @include notebook {
                flex: 1;
            }
        }
    }
}

.content-therapies {
    padding: 0;

    .title {
        font-size: 1.6rem;
        margin-bottom: 0;
        margin-left: 0;
        text-align: left;
    }

    .column {
        padding-top: 0 !important;
    }
}

.content-phrase {
    padding: $extra-big;

    .title {
        font-weight: 200;
    }
}

.content-me {
    padding: $margin-small 0 0 0;

    @include notebook {
        max-height: 600px;
        overflow: hidden;
        padding: $margin-small 0 0 0;
    }

    .left {
        margin-left: 0;
        text-align: left;
    }

    .columns {
        .column {
            flex: 100%;
            padding: 20px;
            padding-bottom: 0 !important;

            @include notebook {
                flex: 1;

                img {
                    margin-top: -40px;
                }
            }
        }
    }
}

.title,
.subtitle {
    color: $color-purple;
    font-weight: 200;
}

.title {
    font-weight: 800;
}

.subtitle {
    font-size: 1.6rem;
    margin: 1rem 0;
    text-align: left;
}

.content--small {
    margin: auto;
    max-width: 70%;
}

.columns {
    img {
        width: 100%;
    }

    .column {
        flex: 100%;
        padding: 20px;

        @include tablet {
            flex: 50%;
        }

        @include notebook {
            flex: 1;
        }
    }
}

.copyright {
    background-color: $color-purple;
    padding: $big;

    * {
        color: $color-white;
    }
}