{% from 'include/template-nunjucks.html' import version, linkWhatsapp %}

<div class="row bg--white content-therapies" id="content_therapies">
    <div class="container columns">
        <div class="row">
            <div class="column">
                <img src="./assets/{{version}}/img/column-family.jpg" alt="Lu Morback">
                <h2 class="title">Individual Family Constellation</h2>
                <p>
                    Individual Family Constellation sessions are conducted using figurines, offering the same
                    depth and effectiveness as in-person sessions.
                </p>
                <p>
                    This method allows us to explore systemic dynamics in a safe and guided way, wherever you are.
                </p>
                <p>
                    {% include "include/button-contact.html" %}
                </p>
            </div>
            <div class="column">
                <img src="./assets/{{version}}/img/column-systemic.jpg" alt="Lu Morback">
                <h2 class="title">Family Constellation Group</h2>
                <p>
                    You can participate in an Online or in- person Family Constellation group, either by bringing your
                    own theme or by
                    joining as a representative in someone else’s constellation.
                </p>
                <p>
                    To take part or have your theme included, simply express your interest and we will notify you of
                    upcoming dates and availability.
                    This is a shared systemic field experience that allows for deep insight through participation and
                    observation.
                </p>
                <p>
                    {% include "include/button-contact.html" %}
                </p>
            </div>
            <div class="column">
                <img src="./assets/{{version}}/img/column-group.jpg" alt="Lu Morback">
                <h2 class="title">Systemic Integration Workshop</h2>
                <p>
                    This is not a constellation session. Instead, it is a reflective and experiential space that
                    combines guided conversation and systemic exercises.
                </p>
                <p>
                    It is a space for insight, reflection, and conscious decision-making within your own healing
                    process.
                </p>
                <p>
                    {% include "include/button-contact.html" %}
                </p>
            </div>
        </div>
    </div>
</div>